body{
    margin: 0;
    padding: 0;
    background-color: #6b0f1a;
    box-sizing: border-box;;
    background: url(../assests/bg3-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  body::before{
    content: "";
    background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%) ;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(216, 203, 203);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(255, 255, 255);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(255, 255, 255);
  }

  #signup-form{
    width: 300px;
    padding: 20px;
    background: url(../assests/bg-min.png);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
  }
  #signup-form h1{
    border-radius: 30px;
    margin-top: 55px;
    font-family: 'Permanent Marker', cursive;
    color: #fff;
    background-color: #6b0f1a;
    background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);

    font-size: 40px;
  }
  #signup-form input,button{
    display: block;
    width: 100%;
    padding: 0 16px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "montserrat",sans-serif;
    margin: 20px 0;
    background: rgba(255,255,255,.5);
    border-radius: 6px;
  }
  
  #submit{
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: #6b0f1a;
    background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
    color: #fff;
    border-radius: 44px;
    cursor: pointer;
    transition: 0.8s;
  }
  #submit:hover{
    transform: scale(0.96);
  }
  #signup-form a.already{
    text-decoration: none;
    color: #fff;
    font-family: "montserrat",sans-serif;
    font-size: 14px;
    padding: 10px;
    transition: 0.8s;
    display: block;
  }
  #signup-form a:hover{
    background: rgba(0,0,0,.3);
  }
  .error{
      color: red;
      font-style: italic;
      font-weight: 700;
  }
  .sucess{
      color: rgb(7, 223, 151);
      display:none;
  }
  .sucess a{
    color: red;
    font-style: none;
}
  